/* ####################################### */
/*      VARIABLES                          */
/* ####################################### */

$background: rgb(220, 220, 220);
$foreground: rgb(245, 245, 245);
$text: rgb(58, 58, 58);
$icon: rgb(100, 100, 100);

$background-dark: rgb(20, 20, 20);
$foreground-dark: rgb(39, 39, 39);
$text-dark: rgb(230, 230, 230);
$icon-dark: rgb(163, 163, 163);

$font-size: 18px;
$line-height: 22px;
$animation-speed: 0.2s;
$navbar-height: 40px;
$main-margin: 3px;
$border-radius: 10px;

$orange: rgb(255, 69, 0);
$blue: rgb(255, 69, 0);
$gradient: linear-gradient(45deg, rgb(255, 104, 104) 0%, rgb(255, 153, 39) 100%);

/* ####################################### */
/*      MIXINS                             */
/* ####################################### */

@mixin shadow($blur: 10px, $spread: 1px, $opacity: 0.2) {
    -webkit-box-shadow: 0px 0px $blur $spread rgba(0, 0, 0, $opacity);
    -moz-box-shadow: 0px 0px $blur $spread rgba(0, 0, 0, $opacity);
    box-shadow: 0px 0px $blur $spread rgba(0, 0, 0, $opacity);
}
/* ####################################### */
/*      MAIN ELEMENTS                      */
/* ####################################### */

@font-face {
    font-family: "Vag";
    src: local("Vag"), url(fonts/VAGRoundedStd-Light.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    font-size: $font-size;
}

body {
    width: 100%;
    height: 100%;

    font-family: "Nunito", "Helvetica", "Verdana", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow: hidden;
    user-select: none;
}

input,
button {
    color: inherit;
    font: inherit;
}

#root {
    width: 100%;
    height: 100%;
    background: $background;
    color: $text;

    .dark & {
        background: $background-dark;
        color: $text-dark;
    }
}

.app {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* ####################################### */
/*      LANDING PAGE                       */
/* ####################################### */

.landing {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;

        .icon {
            width: $line-height * 1.5;
            max-width: $line-height * 1.5;
            margin-top: 0;
            padding: 7px 1px 0;
        }

        .appName {
            font-weight: 600;
            line-height: $line-height * 3;
            font-size: 3rem;
        }
    }

    .flexGrow {
        flex-grow: 1;
    }

    .error {
        color: rgb(255, 93, 93);
        margin-bottom: 20px;
    }

    .link {
        transition: transform $animation-speed ease-in-out;
        text-decoration: none;
        outline: none;
        color: white;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 10px 50px;
        margin-bottom: 50px;
        border-radius: 50px;
        background: $gradient;
        -webkit-tap-highlight-color: transparent;
        @include shadow();

        &:active {
            transform: scale(1.1);
        }
    }
}

/* ####################################### */
/*      LANDING PAGE                       */
/* ####################################### */

.navbar {
    box-sizing: border-box;
    height: $navbar-height;
    min-height: $navbar-height;
    max-height: $navbar-height;
    margin: $main-margin;
    background-color: $foreground;
    border-radius: $border-radius;
    display: flex;
    justify-content: space-between;

    .dark & {
        background: $foreground-dark;
    }

    .pageSelector {
        position: relative;
        display: flex;
        justify-content: center;
        flex-grow: 1;
        margin: 0 30px;

        .background {
            position: absolute;
            box-sizing: border-box;
            background: $gradient;
            height: $navbar-height - 8px; // Navbar height - title top and bot padding
            top: 4px;
            border-radius: 50px;
            left: 0;
            width: 50%;

            &.left {
                left: 0;
                width: 50%;
                animation: swap-to-left $animation-speed;
            }

            &.right {
                left: 50%;
                width: 50%;
                animation: swap-to-right $animation-speed;
            }

            @keyframes swap-to-right {
                0% {
                    left: 0;
                    width: 50%;
                }

                50% {
                    left: 0;
                    width: 100%;
                }

                100% {
                    left: 50%;
                    width: 50%;
                }
            }

            @keyframes swap-to-left {
                0% {
                    left: 50%;
                    width: 50%;
                }

                50% {
                    left: 0;
                    width: 100%;
                }

                100% {
                    left: 0;
                    width: 50%;
                }
            }
        }

        .title {
            transition: color $animation-speed ease-in-out;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 5;
            width: 50%;
            margin: 4px 0;
            color: $text;
            font-weight: 500;

            .dark & {
                color: $text-dark;
            }

            &.selected {
                color: $text-dark;
            }
        }
    }

    .icon {
        box-sizing: border-box;
        width: $navbar-height;
        min-width: $navbar-height;
        max-width: $navbar-height;
        padding: 10px;
        transform: rotate(0deg);

        .cls-1 {
            stroke: $icon !important;

            .dark & {
                stroke: $icon-dark !important;
            }
        }

        &.invisible {
            visibility: hidden;
            pointer-events: none;
        }

        &.spin {
            animation: spin $animation-speed * 10 infinite;
            animation-fill-mode: forwards;

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(359deg);
                }
            }
        }
    }
}

/* ####################################### */
/*      HOME                               */
/* ####################################### */

.home {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    width: 200vw;
    display: flex;
}

.deleteContainer {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: $main-margin;

    .delete {
        background-color: rgba(122, 122, 122, 0.397);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
        font-size: 0.6rem;
        margin: 0 5px;
    }
}

/* ####################################### */
/*      POSTS                              */
/* ####################################### */

.posts {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100vw;
    left: 0;
    clip-path: inset(0% 0% 0% 0%);
    -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
    scrollbar-width: none; /* Hide scrollbar Firefox */

    &::-webkit-scrollbar {
        display: none; /* Hide scrollbar Chrome, Safari and Opera */
    }

    &.right {
        left: 100vw;
    }

    .container {
        height: 100%;
        display: flex;
        touch-action: none;

        .post {
            position: relative;
            box-sizing: border-box;
            touch-action: none;
            padding: $main-margin;
            height: 100%;
            width: 100vw;
            pointer-events: none;

            .animatedPosition {
                position: relative;
                width: 100%;
                height: 100%;
                pointer-events: none;

                .content {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    pointer-events: all;

                    // Not important
                    background-image: url("https://images.pexels.com/photos/296878/pexels-photo-296878.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=500&w=500");
                    color: white;
                    text-shadow: 0px 0px 5px rgb(0, 0, 0);
                    font-size: 10rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: $border-radius;
                }
            }
        }
    }
}
