// #######################################
//      VARIABLES
// #######################################

$background: rgb(220, 220, 220);
$foreground: rgb(245, 245, 245);
$text: rgb(58, 58, 58);
$icon: rgb(100, 100, 100);
$icon-dimm: rgb(160, 160, 160);
$link: rgba(0, 106, 177, 0.75);

$background-dark: rgb(20, 20, 20);
$foreground-dark: rgb(39, 39, 39);
$text-dark: rgb(230, 230, 230);
$icon-dark: rgb(163, 163, 163);
$icon-dimm-dark: rgb(85, 85, 85);
$link-dark: rgba(0, 153, 255, 0.75);

$font-size: 18px;
$line-height: 22px;
$animation-speed: 0.2s;
$navbar-height: 40px;
$main-margin: 3px; // Also change in Images.jsx and EmbededVide.jsx
$border-radius: 10px;
$upvote-bar-height: 25px;
$link-bar-height: 35px;

$orange: rgb(255, 69, 0);
$blue: rgb(107, 80, 255);
$gradient: linear-gradient(45deg, rgb(255, 104, 104) 0%, rgb(255, 153, 39) 100%);

// #######################################
//      MIXINS
// #######################################

@mixin shadow($blur: 10px, $spread: 1px, $opacity: 0.1) {
    -webkit-box-shadow: 0px 0px $blur $spread rgba(0, 0, 0, $opacity);
    -moz-box-shadow: 0px 0px $blur $spread rgba(0, 0, 0, $opacity);
    box-shadow: 0px 0px $blur $spread rgba(0, 0, 0, $opacity);
}

// #######################################
//      MAIN ELEMENTS
// #######################################

@font-face {
    font-family: "Vag";
    src: local("Vag"), url(fonts/VAGRoundedStd-Light.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    font-size: $font-size;
}

body {
    width: 100%;
    height: 100%;

    font-family: "Nunito", "Helvetica", "Verdana", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow: hidden;
    user-select: none;
}

input,
button {
    color: inherit;
    font: inherit;
}

#root {
    width: 100%;
    height: 100%;
    background: $background;
    color: $text;

    .dark & {
        background: $background-dark;
        color: $text-dark;
    }
}

.app {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

// #######################################
//      LANDING PAGE
// #######################################

.landing {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;

        .icon {
            width: $line-height * 1.5;
            max-width: $line-height * 1.5;
            margin-top: 0;
            padding: 7px 1px 0;
        }

        .appName {
            font-weight: 600;
            line-height: $line-height * 3;
            font-size: 3rem;
        }
    }

    .flexGrow {
        flex-grow: 1;
    }

    .error {
        color: rgb(255, 93, 93);
        margin-bottom: 20px;
    }

    .link {
        transition: transform $animation-speed ease-in-out;
        text-decoration: none;
        outline: none;
        color: white;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 10px 50px;
        margin-bottom: 50px;
        border-radius: 50px;
        background: $gradient;
        -webkit-tap-highlight-color: transparent;
        @include shadow();

        &:active {
            transform: scale(1.05);
        }
    }
}

// #######################################
//      LANDING PAGE
// #######################################

.navbar {
    box-sizing: border-box;
    height: $navbar-height;
    min-height: $navbar-height;
    max-height: $navbar-height;
    margin: $main-margin;
    background-color: $foreground;
    border-radius: $border-radius;
    display: flex;
    justify-content: space-between;

    .dark & {
        background: $foreground-dark;
    }

    .pageSelector {
        position: relative;
        display: flex;
        justify-content: center;
        flex-grow: 1;
        margin: 0 30px;

        .background {
            position: absolute;
            box-sizing: border-box;
            background: $gradient;
            height: $navbar-height - 8px; // Navbar height - title top and bot padding
            top: 4px;
            border-radius: 50px;
            left: 0;
            width: 50%;

            &.left {
                left: 0;
                width: 50%;
                animation: swap-to-left $animation-speed;
            }

            &.right {
                left: 50%;
                width: 50%;
                animation: swap-to-right $animation-speed;
            }

            @keyframes swap-to-right {
                0% {
                    left: 0;
                    width: 50%;
                }

                50% {
                    left: 0;
                    width: 100%;
                }

                100% {
                    left: 50%;
                    width: 50%;
                }
            }

            @keyframes swap-to-left {
                0% {
                    left: 50%;
                    width: 50%;
                }

                50% {
                    left: 0;
                    width: 100%;
                }

                100% {
                    left: 0;
                    width: 50%;
                }
            }
        }

        .title {
            transition: color $animation-speed ease-in-out;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 5;
            width: 50%;
            margin: 4px 0;
            color: $text;
            font-weight: 500;

            .dark & {
                color: $text-dark;
            }

            &.selected {
                color: $text-dark;
            }
        }
    }

    .icon {
        box-sizing: border-box;
        width: $navbar-height;
        min-width: $navbar-height;
        max-width: $navbar-height;
        padding: 10px;
        transform: rotate(0deg);

        &.active {
            .cls-1,
            .cls-2 {
                stroke: $icon !important;

                .dark & {
                    stroke: $icon-dark !important;
                }
            }
        }

        .cls-1,
        .cls-2 {
            stroke: $icon-dimm !important;

            .dark & {
                stroke: $icon-dimm-dark !important;
            }
        }

        &.invisible {
            visibility: hidden;
            pointer-events: none;
        }

        &.spin {
            animation: spin $animation-speed * 10 infinite;
            animation-fill-mode: forwards;

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(359deg);
                }
            }
        }
    }
}

// #######################################
//      HOME
// #######################################

.home {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    width: 200vw;
    display: flex;
}

// #######################################
//      POSTS
// #######################################

.posts {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100vw;
    left: 0;
    clip-path: inset(0% 0% 0% 0%);
    -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
    scrollbar-width: none; /* Hide scrollbar Firefox */

    &::-webkit-scrollbar {
        display: none; /* Hide scrollbar Chrome, Safari and Opera */
    }

    &.right {
        left: 100vw;
    }

    .container {
        height: 100%;
        display: flex;
        touch-action: none;

        .postContainer {
            position: relative;
            box-sizing: border-box;
            touch-action: none;
            padding: $main-margin;
            height: 100%;
            width: 100vw;
            pointer-events: none;

            .animatedPosition {
                position: relative;
                width: 100%;
                height: 100%;
                pointer-events: none;

                .animatedScale {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    pointer-events: all;
                }
            }
        }
    }
}

// #######################################
//      POST
// #######################################

.post {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: $border-radius;

    -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
    scrollbar-width: none; /* Hide scrollbar Firefox */

    &::-webkit-scrollbar {
        display: none; /* Hide scrollbar Chrome, Safari and Opera */
    }

    .mainContent {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px 6px; // Also change in Images.jsx and EmbededVide.jsx
        border-radius: $border-radius;
        background: $foreground;

        .dark & {
            background: $foreground-dark;
        }

        .subredditIcon {
            width: 40px;
            border-radius: 50px;
            margin-bottom: 3px;
            @include shadow();
        }

        .subreddit {
            text-transform: capitalize;
            font-size: 0.9rem;
            font-weight: 600;
        }

        .author {
            font-size: 0.7rem;
            opacity: 0.5;
            margin-bottom: 5px;
            width: 100%;
            text-align: center;
        }

        .title {
            font-weight: 600;
            font-size: 1.1rem;
            text-align: center;

            .dark & {
                font-weight: 500;
            }
        }

        .selfText {
            position: relative;
            width: 100%;
            flex-grow: 1;
            margin-top: 10px;

            p {
                position: relative;
                width: 100%;
                font-size: 0.8rem;
                opacity: 0.9;
                margin-bottom: 10px;
            }

            ul {
                list-style: none;
                margin-left: 0;
                padding-left: 0;

                li {
                    font-size: 0.8rem;
                    opacity: 0.9;
                    margin-bottom: 10px;
                    padding-left: 1rem;
                    text-indent: -1rem;

                    &::before {
                        content: "•";
                        padding-right: 0.6rem;
                    }
                }
            }

            a {
                word-wrap: break-word;
                color: $link;

                .dark & {
                    color: $link-dark;
                }
            }

            hr {
                width: calc(100% - 40px);
                height: 2px;
                margin: 20px 20px;
                border: none;
                background-color: $icon-dimm;

                .dark & {
                    background-color: $icon-dimm-dark;
                }
            }
        }

        .image,
        .embededVideo,
        .video {
            position: relative;
            width: 100%;
            border-radius: $border-radius;
            margin-top: 10px;
            @include shadow();
        }

        .linkContainer {
            box-sizing: border-box;
            position: relative;
            height: $link-bar-height;
            width: 100%;
            text-decoration: none;
            border-radius: $border-radius;
            color: black;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 4px 10px;
            margin-top: 5px;
            background-color: $background;

            .dark & {
                background-color: $background-dark;
            }

            p {
                font-size: 0.8rem;
                color: $text;

                .dark & {
                    color: $text-dark;
                }
            }

            .linkIcon {
                box-sizing: border-box;
                width: $link-bar-height;
                min-width: $link-bar-height;
                max-width: $link-bar-height;
                padding: 8px;

                .cls-1 {
                    stroke: $icon !important;

                    .dark & {
                        stroke: $icon-dimm !important;
                    }
                }
            }
        }

        .videoPlayer {
            position: relative;
            width: 100%;
            margin-top: 15px;

            video {
                border-radius: $border-radius;
                margin-top: -5px;
                @include shadow();
            }
        }

        .images {
            display: inline-block;
            position: relative;
            margin-top: 10px;
            width: 100%;
            height: fit-content;
            clip-path: inset(0% 0% 0% 0%);
            display: flex;
            overflow: hidden;
            @include shadow();

            .imageElem {
                position: relative;
                width: 100%;
                border-radius: $border-radius;
            }
        }

        .thumbnail {
            display: inline-block;
            position: relative;
            margin-top: 10px;
            width: 100%;
            border-radius: $border-radius;
        }

        .correctMargin {
            width: 100%;
            &.true {
                height: 4px;
            }
        }
    }

    .comments {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: $main-margin * 2;
        padding: 8px 6px; // Also change in Images.jsx and EmbededVide.jsx
        border-radius: $border-radius;
        background: $foreground;

        .dark & {
            background: $foreground-dark;
        }
    }
}

// #######################################
//      NAVIGATION POINTS
// #######################################

.navPoints {
    position: relative;
    height: 20px;
    width: 100%;

    .navPointsContainer {
        position: relative;
        height: 100%;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;

        .activePointContainer {
            position: absolute;
            height: 100%;
            left: 0;
            width: 20px;

            .activePoint {
                margin: 7px;
                height: 6px;
                border-radius: 50px;
                background-color: $text;

                .dark & {
                    background: $text-dark;
                }
            }
        }

        .point {
            border-radius: 50px;
            margin: 7px;
            width: 6px;
            height: 6px;
            background-color: $background;

            .dark & {
                background: $background-dark;
            }
        }
    }
}

// #######################################
//      UPVOTE BAR
// #######################################

.upvoteBar {
    height: $upvote-bar-height;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5px;

    .message {
        box-sizing: border-box;
        width: $upvote-bar-height;
        min-width: $upvote-bar-height;
        max-width: $upvote-bar-height;
        padding: 5px;
        margin-right: 25px;

        .cls-1 {
            stroke: $icon-dimm !important;

            .dark & {
                stroke: $icon-dimm-dark !important;
            }
        }
    }

    .upvote,
    .downvote {
        box-sizing: border-box;
        width: $upvote-bar-height;
        min-width: $upvote-bar-height;
        max-width: $upvote-bar-height;
        padding: 6px;
        margin: 0 5px;

        .cls-1 {
            stroke: $icon-dimm !important;

            .dark & {
                stroke: $icon-dimm-dark !important;
            }
        }
    }

    .upvote {
        &.active {
            .cls-1 {
                stroke: $orange !important;
            }
        }
    }

    .downvote {
        transform: rotate(180deg);

        &.active {
            .cls-1 {
                stroke: $blue !important;
            }
        }
    }

    .score {
        font-size: 0.8rem;
        font-weight: 600;
        color: $icon-dimm;

        .dark & {
            color: $icon-dimm-dark;
        }

        &.up {
            color: $orange !important;
        }

        &.down {
            color: $blue !important;
        }
    }
}

iframe {
    border-radius: $border-radius;
}

.cls-1,
.cls-2 {
    fill: none !important;
}
